In [3]:
class student:
    def __init__(self, n='Blank', g=0):
        self.name = n
        self.grade = g

    def disp(self):
        print("Name =",self.name," Grade = ",self.grade)

stud1=student('Amit',38)
stud1.disp()

Name = Amit  Grade =  38

In [6]:
stud2=student('Mohan')
stud2.disp()

Name = Mohan  Grade =  0

In [7]:
stud2=student()
stud2.disp()

Name = Blank  Grade =  0

In [11]:
student.grade

AttributeError: type object 'student' has no attribute 'grade'

In [10]:
stud2.grade

0

In [12]:
class student:
    fee=8000
    def __init__(self, n='Blank', g=0):
        self.name = n
        self.grade = g

    def disp(self):
        print("Name =",self.name," Grade = ",self.grade)

stud1=student('Amit',38)
stud1.disp()

Name = Amit  Grade =  38

In [13]:
stud1.fee

8000

In [14]:
student.fee

8000

In [15]:
stud1.fee=1000

In [16]:
stud1.fee

1000

In [17]:
student.fee

8000

In [18]:
student.fee=2500

In [19]:
student.fee

2500

In [20]:
stud1.fee

1000

In [22]:
stud3=student('ravi',67)
stud3.disp()

Name = ravi  Grade =  67

In [23]:
print(stud3.fee)
print(student.fee)

2500
2500

In [24]:
class person:
    salary=8000
    def __init__(self, n='Blank', i=0):
        self.name = n
        self.id = i

    def disp(self):
        print("Name =",self.name," id = ",self.id)

p1=person('Amit',38)
p1.disp()

Name = Amit  id =  38

In [25]:
class employee:
    salary=8000
    def __init__(self, n='Blank',a=0, i=0, s=0):
        self.name = n
        self.age = a
        self.id = i
        self.salary = s

    def disp(self):
        print('Inside display function')
        print(self.name," ",self.age," ",self.id," ",self.salary)

e1=employee('Amit',38,101,65000)
e1.disp()

Inside display function
Amit   38   101   65000

In [26]:
print(e1.name)
print(e1.age)
print(e1.id)
print(e1.salary)

Amit
38
101
65000

In [27]:
def main():
    e1=employee('Amit',38,101,65000)
    e1.disp()
    
if __name__=="__main__":
    main()

Inside display function
Amit   38   101   65000

In [31]:
class emp:
    salary=8000
    def __init__(self, n='Blank',a=0, i=0, s=0):
        self.name = n
        self.age = a
        self.id = i
        self.salary = s
    
    def getdata(self, n='Blank',a=0, i=0, s=0):
        self.name = n
        self.age = a
        self.id = i
        self.salary = s

    def disp(self):
        print('Inside display function')
        print(self.name," ",self.age," ",self.id," ",self.salary)

e1=emp('Amit',38,101,65000)
e1.disp()

Inside display function
Amit   38   101   65000

In [32]:
e1.getdata("Rohan",40,108,70000)
e1.disp()

Inside display function
Rohan   40   108   70000

In [35]:
class emp:
    salary=8000
    def __init__(self, n='Blank',a=0, i=0, s=0):
        self.name = n
        self.age = a
        self.id = i
        self.salary = s
    
    def getdata(self, n='Blank',a=0, i=0, s=0):
        self.name = n
        self.age = a
        self.id = i
        self.salary = s
        
    def askdata(self):
        self.name = str(input("Enter name = "))
        self.age = int(input("Enter age = "))
        self.id = int(input("Enter id = "))
        self.salary = int(input("Enter salary = "))

    def disp(self):
        print('Inside display function')
        print(self.name," ",self.age," ",self.id," ",self.salary)


        def main():
            e1=emp('Amit',38,101,65000)
            e1.disp()
    
        if __name__=="__main__":
            main()

In [34]:
e1.askdata()
e1.disp()

Enter name = KAPIL
Enter age = 34
Enter id = 56
Enter salary = 89000
Inside display function
KAPIL   34   56   89000