In [1]:
import sqlite3
db=sqlite3.connect("E:\\DATA_TRAINED\\myfiles\\mydata.db", timeout=10)
cur=db.cursor()

In [5]:
cur.execute("drop table if exists student")
cur.execute("create table student(id int primary key,name text,marks int)")
cur.execute("insert into student(id,name,marks) values(1,'Ram',100)")
cur.execute("insert into student(id,name,marks) values(2,'Mohan',105)")
cur.execute("insert into student(id,name,marks) values(3,'Sohan',110)")
cur.execute("insert into student(id,name,marks) values(4,'Kapil',115)")
cur.execute("insert into student(id,name,marks) values(5,'Ravi',120)")
cur.execute("insert into student(id,name,marks) values(6,'Rajesh',125)")
cur.execute("insert into student(id,name,marks) values(7,'Sona',130)")
cur.execute("insert into student(id,name,marks) values(8,'Mona',135)")
db.commit()

In [15]:
print(cur.rowcount," Record inserted")

-1  Record inserted

In [17]:
res=db.execute('select * from student order by id')
for row in res:
    print(row)
print('-'*30)

(1, 'Ram', 100)
(2, 'Mohan', 105)
(3, 'Sohan', 110)
(4, 'Kapil', 115)
(5, 'Ravi', 120)
(6, 'Rajesh', 125)
(7, 'Sona', 130)
(8, 'Mona', 135)
(9, 'Ravi', 99)
------------------------------

In [12]:
r=cur.execute('select count(*) from student')

In [13]:
print(r)

<sqlite3.Cursor object at 0x0000022D33236E30>

In [18]:
cur.execute("insert into student values(9,'Ravi',99)")

IntegrityError: UNIQUE constraint failed: student.id

In [27]:
c=cur.execute('select count(*) from student')
print(len(c.fetchall()))

1

In [30]:
print(cur.fetchone())

None

In [28]:
c=cur.execute('select * from student')
print(len(c.fetchall()))

9

In [29]:
c=cur.execute('select * from student')
print(len(c.fetchall()))

9

In [32]:
res=cur.execute('select id,name from student')
for row in res:
    print(row)

(1, 'Ram')
(2, 'Mohan')
(3, 'Sohan')
(4, 'Kapil')
(5, 'Ravi')
(6, 'Rajesh')
(7, 'Sona')
(8, 'Mona')
(9, 'Ravi')