In [2]:
import pandas as pd

In [2]:
a=pd.Series([1,2,3,4,5])

In [3]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
a=pd.Series([10,20,30,40,50,60])

In [4]:
a

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [8]:
a=pd.Series([10,20,30,40,50,60], index=[2,3,4,5,6,7])

In [9]:
a

2    10
3    20
4    30
5    40
6    50
7    60
dtype: int64

In [11]:
a=pd.Series([10,20,30,40,50,60], index=[2,3,4,5,6,7], dtype='float64')

In [12]:
a=pd.Series([10,20,30,40,50,60], index=[2,3,4,5,6,7], dtype=float)

In [13]:
a

2    10.0
3    20.0
4    30.0
5    40.0
6    50.0
7    60.0
dtype: float64

In [15]:
import pandas
b=pandas.Series([10,20,30,40,50,60], index=[2,3,4,5,6,7], dtype='float64')

In [16]:
b

2    10.0
3    20.0
4    30.0
5    40.0
6    50.0
7    60.0
dtype: float64

In [17]:
a[3]

20.0

In [18]:
import numpy as np
a=np.array([3,4,5,6,7])

In [19]:
b=pd.Series(a)
b

0    3
1    4
2    5
3    6
4    7
dtype: int32

In [20]:
b[1:4]

1    4
2    5
3    6
dtype: int32

In [22]:
demodict={'name':'amit','age':21}

In [23]:
s1=pd.Series(demodict)

In [24]:
s1

name    amit
age       21
dtype: object

In [25]:
data=[1,2,3,4]

In [26]:
a=pd.DataFrame(data)

In [27]:
a

   0
0  1
1  2
2  3
3  4

In [28]:
data=[['amit',1],['Mohat',2],['Rakesh',3],['Kapil',4]]
b=pd.DataFrame(data)
b

        0  1
0    amit  1
1   Mohat  2
2  Rakesh  3
3   Kapil  4

In [29]:
data=[['amit',1],['Mohat',2],['Rakesh',3],['Kapil',4]]
b=pd.DataFrame(data, columns=['Name','Age'])
b

     Name  Age
0    amit    1
1   Mohat    2
2  Rakesh    3
3   Kapil    4

In [30]:
data=[['amit',1],['Mohat',2],['Rakesh',3],['Kapil',4]]
b=pd.DataFrame(data, columns=['Name','Age'],dtype=float)
b

C:\Users\Hp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

     Name  Age
0    amit  1.0
1   Mohat  2.0
2  Rakesh  3.0
3   Kapil  4.0

In [32]:
data={'Name':['amit','Mohat','Rakesh','Kapil'],'Age':[2,4,6,8]}
b=pd.DataFrame(data, columns=['Name','Age'])
b

     Name  Age
0    amit    2
1   Mohat    4
2  Rakesh    6
3   Kapil    8

In [34]:
data=[{'a':5,'b':10},{'a':15,'b':20,'c':30}]
b=pd.DataFrame(data)
b

    a   b     c
0   5  10   NaN
1  15  20  30.0

In [35]:
data=[{'a':5,'b':10},{'a':15,'b':20,'c':30}]
b=pd.DataFrame(data,dtype=float,index=['First','Second'])
b

           a     b     c
First    5.0  10.0   NaN
Second  15.0  20.0  30.0

In [37]:
data=[{'a':5,'b':10},{'a':15,'b':20,'c':30}]
b=pd.DataFrame(data,dtype=float,index=['First','Second'])
b

           a     b     c
First    5.0  10.0   NaN
Second  15.0  20.0  30.0

In [40]:
data=[{'a':5,'b':10},{'a':15,'b':20,'c':30}]
b=pd.DataFrame(data,dtype=float,index=['First','Second'],columns=['a','b','c'])
print(b)

           a     b     c
First    5.0  10.0   NaN
Second  15.0  20.0  30.0

In [42]:
data=[{'a':5,'b':10},{'a':15,'b':20,'c':30}]
b=pd.DataFrame(data,dtype=float,index=['First','Second'],columns=['a','b'])
print(b)

           a     b
First    5.0  10.0
Second  15.0  20.0

In [43]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(8,4),columns=['A','B','C','D'])

In [48]:
print(df)

          A         B         C         D
0 -0.757599  0.342829  0.799274 -1.174466
1 -0.006552 -0.945497 -0.604900  0.291594
2 -0.392601  0.131443  0.193354 -1.070735
3  1.127482 -1.025918 -1.446278 -1.948701
4  0.433847  1.862199 -0.287216 -1.199808
5 -0.583174 -0.182036  2.806386  0.732702
6  1.850840  0.351132  0.425343  0.738323
7  0.702353  1.317200  0.596675  1.062130

In [45]:
print(df.iloc[:4,:])

          A         B         C         D
0 -0.757599  0.342829  0.799274 -1.174466
1 -0.006552 -0.945497 -0.604900  0.291594
2 -0.392601  0.131443  0.193354 -1.070735
3  1.127482 -1.025918 -1.446278 -1.948701

In [47]:
print(df.iloc[:4,0:2])

          A         B
0 -0.757599  0.342829
1 -0.006552 -0.945497
2 -0.392601  0.131443
3  1.127482 -1.025918

In [49]:
print(df.loc[:,'B'])

0    0.342829
1   -0.945497
2    0.131443
3   -1.025918
4    1.862199
5   -0.182036
6    0.351132
7    1.317200
Name: B, dtype: float64

In [52]:
print(df)

          A         B         C         D
0 -0.757599  0.342829  0.799274 -1.174466
1 -0.006552 -0.945497 -0.604900  0.291594
2 -0.392601  0.131443  0.193354 -1.070735
3  1.127482 -1.025918 -1.446278 -1.948701
4  0.433847  1.862199 -0.287216 -1.199808
5 -0.583174 -0.182036  2.806386  0.732702
6  1.850840  0.351132  0.425343  0.738323
7  0.702353  1.317200  0.596675  1.062130

In [56]:
print(df.loc[0:4,'B':'C'])

          B         C
0  0.342829  0.799274
1 -0.945497 -0.604900
2  0.131443  0.193354
3 -1.025918 -1.446278
4  1.862199 -0.287216

In [57]:
print(df.loc[0:4,'B':'D'])

          B         C         D
0  0.342829  0.799274 -1.174466
1 -0.945497 -0.604900  0.291594
2  0.131443  0.193354 -1.070735
3 -1.025918 -1.446278 -1.948701
4  1.862199 -0.287216 -1.199808

In [58]:
print(df.loc[0:4,'B','D'])

IndexingError: Too many indexers

In [59]:
print(df.loc[0:4,['B','D']])

          B         D
0  0.342829 -1.174466
1 -0.945497  0.291594
2  0.131443 -1.070735
3 -1.025918 -1.948701
4  1.862199 -1.199808