# Loops

While Loop

In [7]:
i=0
while(i<5):
    print(i)
    i+=1
print('Amit  ',i)

0
1
2
3
4
Amit   5

In [9]:
while(i<10):
    print(i)
    i+=2
    if(i==9):
        break

5
7

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [11]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [14]:
i = 1
while (i < 6):
    print(i)
    i += 1

1
2
3
4
5

In [20]:
m=0
while(m<5):
    print("The value of m = ", m)
    m+=1

The value of m =  0
The value of m =  1
The value of m =  2
The value of m =  3
The value of m =  4

In [21]:
m=0
while(m<5):
    print(m, end=" ")
    m+=1

0 1 2 3 4

In [25]:
m=0
while(m<5):
    print(m, end=" ** ")
    m+=1

0 ** 1 ** 2 ** 3 ** 4 **

For Loop

In [26]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [27]:
for x in ["apple", "banana", "cherry"]:
  print(x)

apple
banana
cherry

In [28]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [29]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [30]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [31]:
for x in range(2,6):
  print(x)

2
3
4
5

In [32]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [33]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [34]:
for x in range(6):
  if x == 3: break
  print(x)

print("Finally finished!")

0
1
2
Finally finished!

In [40]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [42]:
for k in ['amit','mango',56, 78.98]:
    print(k, end=" ")

amit mango 56 78.98

Range ()

In [43]:
range(7)

range(0, 7)

In [45]:
list(range(5))

[0, 1, 2, 3, 4]

In [47]:
list(range(5,16))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [55]:
def my_function(fname):
  print(fname + " Dude")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Dude
Tobias Dude
Linus Dude

In [49]:
list(range(0,30,5))

[0, 5, 10, 15, 20, 25]

In [50]:
for i in range(0,30,5):
    print(i)

0
5
10
15
20
25

In [53]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [56]:
my_function("What is your name")

What is your name Dude