In [2]:
True and False

False

In [2]:
x=10

In [3]:
x

10

In [12]:
import sqlite3
db=sqlite3.connect("mydb1", timeout=10)
db.execute("drop table if exists grade1")
db.execute("create table grade1(id int,name text,score int)")
db.execute("insert into grade1(id,name,score) values(1,'Ram',100)")
db.execute("insert into grade1(id,name,score) values(2,'Mohan',105)")
db.execute("insert into grade1(id,name,score) values(3,'Sohan',110)")
db.execute("insert into grade1(id,name,score) values(4,'Kapil',115)")
db.execute("insert into grade1(id,name,score) values(5,'Ravi',120)")
db.execute("insert into grade1(id,name,score) values(6,'Rajesh',125)")
db.execute("insert into grade1(id,name,score) values(7,'Sona',130)")
db.execute("insert into grade1(id,name,score) values(8,'Mona',135)")
db.commit()

In [14]:
res=db.execute('select * from grade1 order by id')
for row in res:
    print(row)
print('-'*30)

(1, 'Ram', 100)
(2, 'Mohan', 105)
(3, 'Sohan', 110)
(4, 'Kapil', 115)
(5, 'Ravi', 120)
(6, 'Rajesh', 125)
(7, 'Sona', 130)
(8, 'Mona', 135)
------------------------------

In [15]:
res=db.execute('select * from grade1 where score<120 order by id')
for row in res:
    print(row)
print('-'*30)

(1, 'Ram', 100)
(2, 'Mohan', 105)
(3, 'Sohan', 110)
(4, 'Kapil', 115)
------------------------------

In [16]:
res=db.execute('select * from grade1 where score<120 order by id desc')
for row in res:
    print(row)
print('-'*30)

(4, 'Kapil', 115)
(3, 'Sohan', 110)
(2, 'Mohan', 105)
(1, 'Ram', 100)
------------------------------